.box {
  background-color: #fff;
  height: 60vh;
  margin-top: 2rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  margin-left: 1rem;
  border-radius: 0.8rem;

  .course-image {
    height: 25vh;
    width: 100%;
    background-color: #fff;
    img {
      border-top-left-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  p {
    font-size: 0.7rem;
    text-align: justify;
  }
  button {
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  .text {
    padding: 2vh;
  }
}
