/* You can add global styles to this file, and also import other style files */
/* Global Reset */
@import "bootstrap-icons/font/bootstrap-icons.css";
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }